<% provide(:title,"Help") %>
<h1>Help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
  <a href="https://railstutorial.jp/help">Rails Tutorial help page</a>.
	To get help on this sample app, see the
  <a href="https://railstutorial.jp/#ebook"><em>Ruby on Rails Tutorial</em></a>
</p>

