<% if logged_in? %>
	<div class="row">
		<aside class="col-md-4">
			<section class="user_info">
				<%= render 'shared/user_info' %>
			</section>
			<section class="stats">
				<%= render 'shared/stats' %>
			</section>
			<section class="micropost_form">
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="col-md-8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="jumbotron text-center">
  	<h1>Sample App</h1>
  
		<h2>This is the home page for the
  	<a href = "https://railstutorial.jp">Ruby on Rails Tutorial</a>
  	sample application.
  	</h2>

		<h2>筆者がクレジットカードをもっていないため、herokuのアドオンが使用できないためSign up機能は現在使えません</h2>
		<h2>今後勉強を進めていくにあたってherokuのアドオンを追加する予定ですので、それまでお待ち下さい</h2>
		<h2>本アプリを使用するにあたってサンプルユーザーへのログインIDとパスワードを載せておきます</h2>
		<ul style="list-style:none;">
			<li>ID : example@railstutorial.org</li>
			<li>PASSWORD : foobar</li>
		</ul>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
  <%= link_to image_tag("rails.png", alt:"Rails logo"), 'http://rubyonrails.org/' %>
  <%#= link_to image_tag("kitten.jpg", alt:"This is a Cat") %>

<% end %>
